body {
    background-color: #011221;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {

    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.testing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    margin-bottom: 150px;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
}

.avatar2 {
    width: 40px;
    border-radius: 20px;
}

.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee4f;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: #36a2eb;
    transform: scale(1.1);
}

.chart {
    width: 100%;
    height: 900px;
    background-color: #eeeeee10;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-dads {
    /* background-color: white; */
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: flex;
}

.tab-dads .esquerda, .direita {
    width: 50%;
    height: 100%;
    /* background-color: #1265adbd; */
}

input {
    margin-top: 2px;
    transition: transform 0.3s ease;
}

input:hover {
    transform: scale(1.1);
}

.esquerda h1 {
    text-align: center;
}

.esquerda p {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 30px;
}

.direita p {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 30px;
}

.direita button {
    width: 150px;
    height: 60px;
    cursor: pointer;
    border-color: transparent;
    background-color: rgb(0, 238, 255);
    border-radius: 20px;
    color: black;
    margin-top: 10%;
    margin-left: 30%;
    transition: transform 0.3s ease;
    font-size: 15px;
}

.direita button:hover {
    background-color: #43a50b;
    transform: scale(1.1);
}

h1, p {
    color: white;
}

input {
    margin-top: 5px;
}

.input_username {
    background-color: transparent;
    color: white;
    font-size: 25px;
    width: 150px;
    border-color: transparent;
    font-weight: 700;
}