body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #011221;
    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #011221;
}

.testing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    margin-bottom: 150px;
}

.avatar2 {
    width: 40px;
    border-radius: 20px;
}

.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee4f;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button:hover {
    background-color: #36a2eb;
}

.chart {
    width: 100%;
    height: 300px;
    background-color: #eeeeee10;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

canvas {
    display: block;
    margin: 0 auto;
}
