body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #011221;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.testing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    margin-bottom: 150px;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
}

.avatar2 {
    width: 40px;
    border-radius: 20px;
}

.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee4f;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: #36a2eb;
    transform: scale(1.1);
}

.chart {
    width: 100%;
    height: 900px;
    background-color: #eeeeee10;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}