body {
    padding: 0;
    margin: 0;
    background-color: #011221;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div1 {
    /* background-color: rgba(255, 228, 196, 0.432); */
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1 img {
    width: 400px;
}

.div1 h1 {
    font-size: 16px;
    color: white;
}

.div2 {
    /* background-color: rgba(255, 228, 196, 0.432); */
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 .discord-buttom {
    width: 200px;
    height: 50px;
    background-color: #5865f2;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
