body {
    padding: 0;
    margin: 0;
    background-color: #011221;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;

}

.top-bar {
    width: 100%;
    height: 9vh;
    background-color: #01abd62a;
    display: flex;
}

.opendads {
    display: flex;
    flex-direction: row-reverse;
}

.div1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 h1 {
    color: white;
    font-size: 20px;
}

.div2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 h2 {
    color: white;
    font-size: 20px;
}

.div2 img {
    margin-left: 10px;
    width: 50px;
    border-radius: 30px;
}

.top-dados {
    width: 50%;
    height: 80vh;
    /* background-color: rgba(255, 255, 255, 0.281); */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 450px;
    height: 50px;
    background-color: #01abd62a;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.box:hover {
    background-color: #01abd644;
    width: 450px;
    height: 700px;
    transform: scale(1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.box #color-select {
    width: 90%;
    height: 120px;
    background-color: transparent;
    border-color: transparent;
}

.box #selected-options {
    width: 90%;
    height: 70px;
    /* border-color: transparent; */
}

.box .item {
    display: flex;
    flex-direction: column;
}

.box .item h1 {
    font-size: 20px;
    text-align: center;
    color: white;
}



.box .item p {
    margin-top: 1px;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: white;
}

.box .item p:hover {
    background-color: #011221;
    border-radius: 10px;
    transform: scale(1.1);
    cursor: pointer;
}

.box2 {
    width: 900px;
    height: 600px;
    background-color: #01abd62a;
    display: flex;
    border-radius: 20px;
}

.box2 .itens2 {
    width: 50%;
    height: 100%;
    /* background-color: white; */
}

.box2 .itens2 .title {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.box2 .itens2 .item2 {
    width: 100%;
    height: 100%;
}

.box2 .itens2 .item2 h1 {
    font-size: 20px;
    color: white;
}


.box2 .itens2 .item2 p {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
}

.box2 .itens2 .item2 p input {
    height: 30px;
    transition: transform 0.3s ease;
}

.box2 .itens2 .item2 p input:hover {
    transform: scale(1.1);
}

.box2 .itens2 .item2 button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-color: transparent;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin-top: 10%;
    margin-left: 30%;
    transition: transform 0.3s ease;
}


.box2 .itens2 .item2 button:hover {
    background-color: #43a50b;
    transform: scale(1.1);
}

